// Import page-specific CSS files here.
@import "home";

.card-image{
  width: 300px;
  height: 200px;

}

.card-image img{
  max-width: 100%;
  height: auto;
}


.bottom-line {
  color: #888a8c;
}
.container-fluid {
  // padding-bottom: 20px;
  // border-bottom: 100%;
}

.card:hover{
  border: 2px solid #007bff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius:10px;
}
