<div class="container">
  <h1>See all your bookings</h1>
  <ul>
    <% @bookings.each do |booking| %>
      <li><%= link_to booking.item.title, booking_path(booking)%></li>
    <% end %>
    </ul>
</div>

