<div class="banner">
  <div class="banner-container">
    <h1>Gear Up, <strong>Rent Out,</strong> to <strong>PLAY MORE!</strong></h1>
    <p>Discover a world of sports equipment at your fingertips. Whether you need gear or have gear to share, we connect athletes and enthusiasts for all kinds of sports!</p>
  </div>
</div>
