<%# <div class="banner">
  <div class="banner-container">
    <h1 class="sweet-title">Gear Up, <strong>Rent Out,</strong> to <strong>PLAY MORE!</strong></h1>
    <p>Discover a world of sports equipment at your fingertips. Whether you need gear or have gear to share, we connect athletes and enthusiasts for all kinds of sports!</p>
  </div>
</div> %>

<%# Idea 2 %>

<div class="banner">
  <div class="banner-container">
    <div class="title-wrapper">
      <h1 class="sweet-title">
        <span data-text="Gear Up">Gear Up</span>
        <span data-text="Rent Out">Rent Out</span>
        <span data-text="to PLAY MORE!">to PLAY MORE!</span>
      </h1>
      <%# <span class="top-title">Discover a world of sports equipment at your fingertips</span> %>
      <%# <span class="bottom-title">Whether you need gear or have gear to share, we connect athletes and enthusiasts for all kinds of sports!</span> %>
    </div>
  </div>
</div>
