<section>
  <div >
    <ul class="categories">
      <li><i class="fa-solid fa-volleyball"></i>Outdoor Adventure</li>
      <li><i class="fa-solid fa-medal"></i>Water Sports</li>
      <li><i class="fa-solid fa-baseball-bat-ball"></i>Winter Sports</li>
      <li><i class="fa-solid fa-baseball"></i>Team Sports</li>
      <li><i class="fa-solid fa-dumbbell"></i>Fitness & Training</li>
      <li><i class="fa-solid fa-bicycle"></i>Cycling</li>
      <li><i class="fa-solid fa-person-walking"></i>Recreational Sports</li>
      <li><i class="fa-solid fa-heart-pulse"></i>Extreme Sports</li>
    </ul>
  </div>
</section>
