<div class= "col-lg-11 mx-auto mb-5 rounded-pill border border-secondary" style="height: 500px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
