<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="application.scss">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand border-bottom d-flex justify-content-between"><i class="fa-solid fa-user"></i>
      </nav>
      <div class="categories d-flex justify-content-between">
        <div class="icons">
          <i class="fa-regular fa-campground"></i>
          <i class="fa-regular fa-wave"></i>
          <i class="fa-light fa-snowflake"></i>
          <i class="fa-light fa-futbol"></i>
          <i class="fa-light fa-dumbbell"></i>
          <i class="fa-light fa-bicycle"></i>
          <i class="fa-light fa-table-tennis-paddle-ball"></i>
          <i class="fa-light fa-person-skating"></i>
        </div>
        </div>
        <% @items.each do |item| %>
          <div class="item-container py-3">
            <div class="card-content ">
              <div class="card-image">
                <img src="https://d1brno4kbxrfxy.cloudfront.net/wp-content/blogs.dir/14/files/2019/05/RS16319_shutterstock_522444076-scr-1.jpg?x83652" alt="thumbnail" class="rounded">
                <div class="d-flex justify-content-between">
                  <div>
                    <h4 class="fs-5">Ski Equipment</h4>
                    <h5 class="fs-6">$20</h5>
                  </div>
                  <div class="rating d-flex">
                    <!-- <p><strong>7</strong></p>   -->
                    <i class="fa-solid fa-star py-1" style="color: #676767;">7</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </body>
</html>
