.reviewbox {
  position: relative;
  justify-content: left;
  color: #044c3c;
  margin: 0;
  border-radius: 15px;
  width: 100%;
}

.delete {
  position: absolute;
  color: black;
  font-weight: 900;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
ul li{
  margin-bottom: 10px;
}
